body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  /* background-image: url("./images/resort-map-background.png") */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  display: block;
  margin: 0 auto;
}

.text-margin {
  margin: 5%;
}

/* nav bar start */
.ui.inverted.segment, .ui.primary.inverted.segment {
  margin-bottom: 0;
}
/* nav bar end */

/* homepage start */
.homepage-video {
  height: 720px;
  width: 1280px;
  position: relative;
  z-index: 2;
}

video {
  position: absolute;
  bottom: 0;
  left: -10%;
  z-index: 5;
}

.homevideo-overlay {
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;

}

/* homepage end */
/* resort map start */
.resort-map-container {
  position: relative;
}

.resort-map-background {
  height: 680px;
  width: 1280px;
}

.resort-map {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 680px;
  width: 1500px;
}

/* resort map end */

/* resort start */
.resort-btn-container {
  display: flex;
  justify-content: space-around;
}

.text-center {
  text-align: center;
  margin: 25px auto;
}
/* resort end */

/* resort detail page start */

#resort-detail-page {
  margin: 3% 1%;
}

#resort-detail-page .button {
  margin: 3% 1%;
}

/* resort detail page end */

/* new event form start */
.ui.form .field>label {
  color: white;
}

.new-event-form .ui.teal.button, .ui.teal.buttons .button {
  display: block;
  margin: 6% auto;
  width: 30%;
}
/* new event form end */

/* new event login start */

.new-event-login .ui.small.modal>.header:not(.ui) {
  margin-bottom: 15%;
  text-align: center;
}
#new-event-login-btn-container {
  display: flex;
  justify-content: center;
  margin: 5%;
}

.ui.inverted.black.button, .ui.inverted.black.buttons .button {
  margin: 20px;
}

/* new event login end */

/* events page start */

/* event search */
.ui.large.input {
  width: 45%;
  margin: 3% auto;
  display: block;
}

.ui.icon.input>input {
  width: 100%;
}

/* event sort */
.event-sort {
  width: 45%;
  margin: 1% auto;
}

#events-container {
  margin: 3% auto;
}

/* events page end */

/* event detail page start */

.event-detail-page {
  margin: 3%;
}

.event-date {
  display: inline-block;
}

.like-text {
  display: inline;
}

.ui[class*="very relaxed"].list:not(.horizontal)>.item:not(:last-child) {
  margin: 3%
}

.event-detail-page .ui.secondary.button, .ui.secondary.buttons .button {
  margin: 3%;
  width: 15%;
}


/* chat component start */

.chat-container{
  width: 30%;
  height: 50%;
  position: sticky;
  position: -webkit-sticky;
  top: 200px;
  bottom: 20px;
  left: 800px;
}

.chat-list {
  padding: 18px;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
/* chat component end */

/* event detail page end */

/* tutorials page start */

.page-margin {
  margin: 3%
}

.tutorial-button-container .ui.secondary.button, .ui.secondary.buttons .button {
  margin: 3%;
  margin-bottom: 6%;
  width: 15%;
}

.tutorial-thumbnail {
  height: 200px;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.tutorial-thumbnail-overlay {
  position: absolute;
  background-color: rgba(0,0,0,0.7);
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  z-index: 5;
}

.youtube-play {
  opacity: 0.7;
  position: absolute;
  height: 70%;
  width: 78%;
  margin: 30px;
  z-index: 10;
}

.ui.basic.modal>.actions, .ui.basic.modal>.content, .ui.basic.modal>.header {
  position: relative;
}

/* save button */
.ui.inverted.grey.basic.button, .ui.inverted.grey.basic.buttons .button, .ui.inverted.grey.buttons .basic.button {
  position: absolute;
  left: 44%;
  top: 100%;
}

/* save button */
.ui.modal .actions>.button {
  position: absolute;
  left: 44%;
  top: 100%;
}

/* tutorials page end */

/* profile page start */

/* profile image overlay start */

.profile-container {
  position: relative;
  display: inline-block;
}

.profile-image {
  diaplay: block;
}

.profile-overlay {
  position: absolute;
  transition: all .3s ease;
  opacity: 0;
  background-color: #eee;
}

.profile-container:hover .profile-overlay {
  opacity: 1;
}

.overlay-fade {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
}

.profile-container:hover .overlay-fade {
  width: 100%;
}

.overlay-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

#file-upload {
  display: none;
}

/* profile image overlay end */

.bio-button .ui.secondary.button {
  margin: 5%;
  width: 15%;
}

.bio-form {
  margin: 3% 10%;
}

.bio-form .ui.secondary.button {
  margin: 5%;
  width: 15%;
}

.bio-text {
  margin: 5%;
}

/* profile page end */

/* login signup page start */

.login-signup-form {
  margin: 3% 30%;
}

.login-signup-form .ui.secondary.button {
  margin: 12%;
  width: 40%;
}

/* login signup page end */


/* youtube iframe responsive start */

.responsive {
  width: 100%;
  height: 0%;
  padding-bottom: 56.25%;
  position:relative;
  margin: 3%;
}

.responsive iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* youtube iframe responsive end */


/* flip-card start */

*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1{
  font-size: 2.5rem;
  /* font-family: 'Montserrat'; */
  /* font-weight: normal; */
  color: #444;
  text-align: center;
  margin: 2rem 0;
}

.wrapper{
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
}

.cols{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.col{
  width: calc(25% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container{
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	        perspective: 1000px;
}

.front,
.back{
  background-size: cover;
	background-position: center;
	-webkit-transition: -webkit-transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: -webkit-transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
	-o-transition: transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
	transition: transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
	-webkit-backface-visibility: hidden;
	        backface-visibility: hidden;
	text-align: center;
	min-height: 280px;
	height: auto;
	border-radius: 10px;
	color: #fff;
	font-size: 1.5rem;
}

.back{
  background: #4b6584;
  background: -webkit-linear-gradient(45deg,  #4b6584 0%,#666666 100%);
  background: -o-linear-gradient(45deg,  #4b6584 0%,#666666 100%);
  background: linear-gradient(45deg,  #4b6584 0%,#666666 100%);
}

.front:after{
	position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border-radius: 10px;
}
.container:hover .front,
.container:hover .back{
    -webkit-transition: -webkit-transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform 1.5s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner{
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
            transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
            perspective: inherit;
    z-index: 2;
}

.container .back{
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container .front{
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
}

.container:hover .back{
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.container:hover .front{
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.front .inner p{
  font-size: 2rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after{
  content: '';
  width: 4rem;
  height: 2px;
  position: absolute;
  background: #C6D4DF;
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -.75rem;
}

.front .inner span{
  color: rgba(255,255,255,0.7);
  font-family: 'Montserrat';
  font-weight: 300;
}

@media screen and (max-width: 64rem){
  .col{
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem){
  .col{
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem){
  .col{
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

/* flip-card-end */
